<table *ngIf="mostrar">
    <mat-card class="example-card">
        <mat-card-header>
            <tr>
                <mat-card-title>Añadir nuevo alumno: </mat-card-title>
            </tr>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="guardarAlumno()">Guardar</button>
            <button mat-raised-button color="primary" (click)="cambiarMostrar()">Nuevo curso</button>
        </mat-card-actions>

        <mat-card-content>
            <tr>
                <p>Identificador:
                    <input type="text" [(ngModel)]="nuevoAlumnoId">
                </p>
            </tr>
            <tr>
                <p>Nombre:
                    <input type="text" [(ngModel)]="nuevoAlumnoName">
                </p>
            </tr>
            <tr>
                <p>e-mail:
                    <input type="text" [(ngModel)]="nuevoAlumnoEmail">
                </p>
            </tr>

            <tr>
                <p>Ciudad:
                    <input type="text" [(ngModel)]="nuevoAlumnoCity">
                </p>
            </tr>

                <tr>
                <p>Código postal:
                    <input type="text" [(ngModel)]="nuevoAlumnoZipcode">
                </p>
            </tr>

            <tr>
                <p>Teléfono:
                    <input type="text" [(ngModel)]="nuevoAlumnoPhone">
                </p>
            </tr>
        </mat-card-content>

    </mat-card>
</table>

<table *ngIf="!mostrar">
    <mat-card class="example-card">
        <mat-card-header>
            <tr>
                <mat-card-title>Añadir nuevo curso: </mat-card-title>
            </tr>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="guardarCurso()">Guardar</button>
            <button mat-raised-button color="primary" (click)="cambiarMostrar()">Nuevo alumno</button>
        </mat-card-actions>

        <mat-card-content>
            <tr>
                <p>Identificador:
                    <input type="text" [(ngModel)]="nuevoCursoId">
                </p>
            </tr>
            <tr>
                <p>Título:
                    <input type="text" [(ngModel)]="nuevoCursoTitle">
                </p>
            </tr>

            <tr>
                <p>Descripción:
                    <input type="text" [(ngModel)]="nuevoCursoDescription">
                </p>
            </tr>

            <tr>
                <p>Categoría:
                    <input type="text" [(ngModel)]="nuevoCursoCategory">
                </p>
            </tr>

            <tr>
                <p>Duración:
                    <input type="text" [(ngModel)]="nuevoCursoDuration">
                </p>
            </tr>
        </mat-card-content>

    </mat-card>
</table>
