<div *ngIf="matriculado==true">
  <span> {{nombre}} - {{edad}} - {{notasParcial}} </span>
  <input type="text" [(ngModel)]="nombre">
</div>
<!--<button (dblclick)="this.cambiarMatricula(true)">Matricular</button>-->
<!--<button (mouseover)="this.cambiarMatricula(false)">Desmatricular</button>-->
<button (click)="this.cambiarMatricula(true)">Matricular</button>
<button (click)="this.cambiarMatricula(false)">Desmatricular</button>

<hr>

<div>
<input type="text" [(ngModel)]="nombre">
<button (click)="this.addAlumno(nombre)">Añadir alumno</button>
</div>

<hr>

<ul>
  <strong> Alumnos: </strong>
  <li *ngFor="let alumno of alu">
    <ul>
      <li>
        {{alumno.nombre}}
      </li>
    </ul>
  </li>
</ul>

Este es el curso {{idCurso}}

<button mat-stroked-button>Basic</button>
<button mat-raised-button color="warn">Warn</button>
